{% extends 'paginas/base.html' %}

{% block titulo %}INICIO{% endblock %}

{% block contenido %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">BIENVENIDO A JDAT</h1>
            <p class="col-md-8 fs-4">
                SISTEMA GESTION DE INVENTARIO
            </p>
            <button class="btn btn-primary btn-lg" type="button">
                INICIAR
            </button>
        </div>
    </div>
    

{% endblock %}
